@{
  Layout = "_Layout";
}

@model BackAlleyClinic.Models.Doctor

<h2>Doctor Details</h2>
<hr>
<h3>Dr. @Html.DisplayFor(model => model.Name)</h3>
<h5>@Html.DisplayFor(model => model.Specialty) Medicine</h5>

@if (@Model.JoinEntities.Count == 0)
{
  <p>Dr. @Html.DisplayFor(model => model.Name) does not have any patients listed</p>
}
else
{
  <h4>Dr. @Html.DisplayFor(model => model.Name) has the following patients:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Patient.Name</li>
  }
  </ul>
}
<p>@Html.ActionLink("Edit doctor", "Edit", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Delete doctor", "Delete", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Back to doctor list", "Index")</p>